detectron2==0.6
matplotlib==3.8.4
numpy==1.26.4
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
pandas==2.2.2
Pillow==9.0.1
pycocotools==2.0.7
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyYAML==6.0.1
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
ultralytics==8.0.200
